/*  */

.Iconuser {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 16px;
  font-weight: 600;
  font-family: "Comic Sans MS", cursive;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative; /* Add relative positioning */
}

/* Add horizontal line */
.Iconuser::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%; /* Full width */
  height: 0.5px; /* Line height */
  background-color: silver; /* Line color */
  color: silver;
}
.user {
  margin-left: 10px;
}

.LeftDivision {
  flex: 0 1 15%; /* Can shrink but not grow */
  margin-right: 10px; /* Small space between LeftDivision and Title */
  font-size: 16px;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

.MiddleDivision {
  flex: 0 1 90%; /* Takes 70% of the available space */
  font-size: 16px;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

a {
  color: black;
}
